.type-area{
display: flex;
flex-direction: column;
flex-grow: 1;
}
.detailsarea{
display: flex;
flex-direction: row;
justify-content:center;
flex-wrap: wrap;
}
.typewriter-area{
    display: flex;
    flex-grow: 1;
}